__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
instance/
build/
dist/
*.deb
*.buildinfo
*.changes
debian/.debhelper/
debian/pkimaster/
debian/pkimaster.debhelper.log
debian/pkimaster.substvars
debian/files
debian/debhelper-build-stamp
.coverage
.coverage.*
coverage.xml
htmlcov/
.ruff_cache/
