include README.md
recursive-include templates *.html
recursive-include static *.css *.js *.svg
recursive-include debian *
recursive-include scripts *.sh
recursive-include scripts *.py
recursive-include tests *.py
recursive-include docs *.md *.png
