#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:
	python3 -m unittest discover -s tests -v

override_dh_auto_install:

override_dh_installsystemd:
	install -D -m 0644 debian/pkimaster-publication.service debian/pkimaster/usr/lib/systemd/system/pkimaster-publication.service
	install -D -m 0644 debian/pkimaster-publication.timer debian/pkimaster/usr/lib/systemd/system/pkimaster-publication.timer
	dh_installsystemd --restart-after-upgrade
